.vscode/**
.gitignore
src/**
node_modules/**
tsconfig.json
tsconfig.test.json
esbuild.config.js
eslint.config.mjs
.prettierrc
.vscode-test.js
.github/**
docs/**
.husky/**
.superpowers/**
commitlint.config.js
out/**
*.map

**/*.map
